body {
	margin-top: 56px;
}
.star-rating {
	position: relative;
	display: inline-block;
}
.full-stars {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
}

.modal.fade .modal-dialog {
	transform: translate(200%, 0);
}

.modal.show .modal-dialog {
  transform: none;
}